#announcements
  %span ANNOUNCEMENT: June meeting will be held <strong>June 12</strong> at Manta. 8760 Orion Parkway, 1st Floor

#image-bar
  %img(src='http://upload.wikimedia.org/wikipedia/commons/f/fc/Columbus-ohio-skyline-panorama.jpg'
       alt='Photo courtesy of http://en.wikipedia.org/wiki/File:Columbus-ohio-skyline-panorama.jpg')

#main
  .container
    %h1
      %a(href="/")
        %img(src='/images/clojure-icon.gif')
        Columbus Clojure User Group

    #banner
      %a(href="#{@mailing_list}" target="_blank") Join the Mailing List
      %a(href="#{@twitter_url}" target="_blank") Follow us on Twitter

    .thirds
      #where.third
        = haml :where

      #when.third
        = haml :when, :locals => {:next_meeting => @next_meeting}

      #speakers.third
        = haml :speakers, :locals => {:next_meeting => @next_meeting, :mailing_list => @mailing_list}

    .thirds
      #who.third
        = haml :who

      #what.third
        = haml :what

      #join.third
        = haml :join, :locals => {:mailing_list => @mailing_list}
