/#announcements
/  %span ANNOUNCEMENT: July meeting has been rescheduled to the 11th

#image-bar
  %img(src='http://upload.wikimedia.org/wikipedia/commons/f/fc/Columbus-ohio-skyline-panorama.jpg'
       alt='Photo courtesy of http://en.wikipedia.org/wiki/File:Columbus-ohio-skyline-panorama.jpg')

#main
  .container
    %h1
      %a(href="/")
        %img(src='/images/clojure-icon.gif')
        Columbus Clojure User Group

    #banner
      %a(href="#{@mailing_list}" target="_blank") Join the Mailing List
      %a(href="#{@twitter_url}" target="_blank") Follow us on Twitter

    .thirds
      #where.third
        = haml :where

      #when.third
        = haml :when

      #speakers.third
        %h2
          %img(src='/images/stylistica-icons-set/24x24/comments.png')
          Speakers

        %section
          %ul
            - if @next_meeting.speakers.empty? && @next_meeting.fotm.empty?
              = haml :call_for_speakers
            - else
              = haml :speakers_list
    .thirds
      #who.third
        %h2
          %img(src='/images/stylistica-icons-set/24x24/help.png')
          Who We Are

        %section
          %p
            We are an open group composed of both professionals <em>and</em> students enthusiastic about Clojure. Whether you're new Clojure or you've been hacking for years, we'd love to have you 
            <a href="#join" class="join-link">join us</a>.

      #what.third
        %h2
          %img(src='/images/stylistica-icons-set/24x24/info.png')
          What We Do

        %section
          %p
            The purpose of this group is to provide a community of like-minded individuals where <em>anyone</em> can come and learn something. The format is usually several small lightning talks given by our members, followed by some hacking.
          %p
            Oh, and there's free food and drinks!

      #join.third
        %h2
          %img(src='/images/stylistica-icons-set/24x24/link.png')
          Join Us

        %section
          %p
            Join our
            %a(href="#{@mailing_list}" target="_blank") mailing list
            and join in on all the fun.
            %strong OR
            just show up at our
            <a href="#when" class="when-link">next meeting</a>.
            Meetings are held the first Wednesday of every month.

#twitter
  %img(src='/images/twitter-bird-dark-bgs.png')
  .container
    %h2
      Latest Tweets from
      %a(href="#{@twitter_url}" target="_blank") @ColumbusClojure
    #tweets.halves

%script#tweetTemplate(type="text/template")
  %span.time <%= time %> &mdash;
  %br
  <%= tweet %>
